nbproject
features/support/app/log
features/support/app/tmp
features/support/app/vendor
features/support/app/db/schema.rb
features/support/app/db/*.sqlite3
features/support/app/caracteristicas/
features/support/app/lib/tasks/mundo_pepino.rake
