tmp
doc
pkg
features/support/app/log
features/support/app/tmp
features/support/app/script
features/support/app/db/development.sqlite3
features/support/app/caracteristicas/
features/support/app/lib/tasks/mundo_pepino.rake
