<h1>Sorry, not implemented yet</h1>
<p>Pero esto es lo que me mandas:</p>
<div id="text_field"><%= params[:text_field] %></div>
<div id="textarea"><%= params[:textarea] %></div>
<%= link_to 'Volver', :action => 'index' %>
