<h1>Portada de Mundo Pepino</h1>
<div id="slogan">Todo un huerto para ti</div>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'Registro', :action => 'signup' %>
<% form_tag( :action => :form_action ) do %>
  <%= text_field_tag :text_field %>
  <%= text_area_tag :textarea %>
  <%= submit_tag( "Galleta de la Fortuna" ) %>
<% end %>
                   
